@import url("./assets/fonts/gotham/stylesheet.css");

body {
    height: 100%;
    margin: 0;
    background: #fafafa;
    font-family: 'GothamSSm', sans-serif, helvetica;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
